# Ignore node_modules in the backend folder
backend/node_modules/

# Ignore node_modules in the frontend folder
frontend/node_modules/

# Ignore environment variables (Important for your MERN stack)
backend/.env

# Ignore build files
frontend/dist/
frontend/build/

# Ignore OS files
.DS_Store


.wwebjs_auth
.wwebjs_cache
node_modules
.env