:root {
  /* --primary: #8B4513; */
  --primary: #562F00;
  --secondary: #F5DEB3;
  --accent: #FFB347;
  --highlight: #D2691E;
  --bg-light: #FFF8F0;
  --rasi-glass: rgba(255, 255, 255, 0.85);
  --text-light: #333333;
  --white: #FFFFFF;
  --rasi-transition: all 0.3s cubic-bezier(0.4, 0, 0.2, 1);
  --shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  --transition: all 0.3s ease;
}


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Inter', sans-serif;
}

html {
  overflow-y: auto !important;
  height: auto !important;
}

body {
  background-color: var(--bg-light);
  color: var(--text-light);
  transition: var(--transition);
  overflow-y: auto !important;
  height: auto !important;
}

::selection {
  background-color: var(--primary);
  color: var(--white);
}

a {
  text-decoration: none;
  color: inherit;
}

button {
  cursor: pointer;
  border: none;
  outline: none;
  background: none;
}

ul {
  list-style: none;
}
